/*
Syntax error: Invalid CSS after "$article-border: ": expected expression (e.g. 1px, bold), was "##FFEBCD !default;"
        on line 13 of /home/iic/octopress/sass/base/_theme.scss
        from line 3 of /home/iic/octopress/sass/_base.scss
        from line 8 of /home/iic/octopress/sass/screen.scss

Backtrace:
/home/iic/octopress/sass/base/_theme.scss:13
/home/iic/octopress/sass/_base.scss:3
/home/iic/octopress/sass/screen.scss:8
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/script/lexer.rb:191:in `expected!'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/script/parser.rb:450:in `assert_expr'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/script/parser.rb:49:in `parse'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:900:in `sass_script'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:437:in `variable'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:259:in `to_tree'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `map'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `call'
/home/iic/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/iic/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `load'
/home/iic/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `<main>'
/home/iic/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `eval'
/home/iic/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"$article-border: \": expected expression (e.g. 1px, bold), was \"##FFEBCD !default;\"\A         on line 13 of /home/iic/octopress/sass/base/_theme.scss\A         from line 3 of /home/iic/octopress/sass/_base.scss\A         from line 8 of /home/iic/octopress/sass/screen.scss"; }
